---
import Layout from "../../layouts/BlogPost.astro";
import { Editor } from "../../app/editor";
---

<Layout
    title="编辑器"
    description="编辑"
    pubDate={new Date("August 08 2021")}
    updatedDate={new Date("August 08 2022")}
    heroImage="/placeholder-about.jpg"
>
    <div class="h-scrren w-screen">
        <Editor />
    </div>
</Layout>
